---
layout: default
---
<link rel="stylesheet" href="/assets/custom.css">
<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.description %}
                        <span class="subheading">{{ page.description }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if page.img_credits %}
            <div class="float-right pt-1 img-credits">Photo by <a href="{{page.img_credits.url}}">{{page.img_credits.name}}</a> on {{page.img_credits.website}}</div>
            {% endif %}
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                {{ content }}

            </div>
        </div>
    </div>